{% extends 'base.html' %}

{% block blogactive %} active
            {% endblock blogactive %}

{% block title %}Search Results
{% endblock title %}


{% block body %}

<div class="container my-3 ">
<h1 class="my-4">Search Results</h1>
{% if allPost|length < 1 %}
Your search <b>{{query}}</b> - did not match any documents.
Suggestions:<br>
 -Make sure that all words are spelled correctly.<br>
 -Try different keywords <br>
 -Try more general keywords.
{% endif %}

{% for post in allPost %}

      <div class=" my-4 row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars:500}}</p>
          <div class="my-3">
          <a role="button" class="btn btn-primary" href="/blog/{{post.slug}}">Continue reading</a>
        </div>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    
  {% endfor %}
</div>
{% endblock body %}